.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
_quarto/
_targets/
GLNPO Data/Processed Data/*
Outputs/Tables/*
Outputs/Figures/*
Reports/*.html
!GLNPO Data/Processed Data/.gitkeep
!Outputs/Tables/.gitkeep
!Outputs/Figures/.gitkeep

# Keep active raw files out of Git by default
GLNPO Data/Raw Data/*
!GLNPO Data/Raw Data/GLNPO 2024 Spring/
!GLNPO Data/raw/.gitkeep
.Rproj.user
